<section class="mentors" id="mentors">
  <div class="container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-accent">Mentors</span>
    </h2>

    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          class="mentors-image"
          src="/src/images/mentor-1.png"
          srcset="
            /src/images/mentor-1.png 1x,
            /src/images/mentor-1@2x.png 2x
          "
          alt="Emilia Smith"
          width="180"
          height="180"
        />

        <h3 class="mentors-name">Emilia Smith</h3>

        <p class="mentors-experience">
          1.5 years of experience
        </p>
      </li>

      <li class="mentors-item">
        <img
          class="mentors-image"
          src="/src/images/mentor-2.png"
          srcset="
            /src/images/mentor-2.png 1x,
            /src/images/mentor-2@2x.png 2x
          "
          alt="Alex Lebedev"
          width="180"
          height="180"
        />

        <h3 class="mentors-name">Alex Lebedev</h3>

        <p class="mentors-experience">
          3.5 years of experience
        </p>
      </li>

      <li class="mentors-item">
        <img
          class="mentors-image"
          src="/src/images/mentor-3.png"
          srcset="
            /src/images/mentor-3.png 1x,
            /src/images/mentor-3@2x.png 2x
          "
          alt="Mia Dubois"
          width="180"
          height="180"
        />

        <h3 class="mentors-name">Mia Dubois</h3>

        <p class="mentors-experience">
          2.0 years of experience
        </p>
      </li>

      <li class="mentors-item">
        <img
          class="mentors-image"
          src="/src/images/mentor-4.png"
          srcset="
            /src/images/mentor-4.png 1x,
            /src/images/mentor-4@2x.png 2x
          "
          alt="Eliot Kovalev"
          width="180"
          height="180"
        />

        <h3 class="mentors-name">Eliot Kovalev</h3>

        <p class="mentors-experience">
          4.0 years of experience
        </p>
      </li>
    </ul>
  </div>
</section>